* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-left: 15px;
    padding-right: 5px;
    height: 40px;
}

nav img {
    height: 35px;
    width: 120px;
}

nav h2{
color: white;
}

nav a {
    text-decoration: none;
    color: white;

}

nav a:hover {
    color: red;
}


ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}

.login-btn{
    background-color: red;
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
}

.login-btn a:hover {
    color: black;
}

.hero {
    height: 90vh;
    background-image: url('https://wallpapers.com/images/hd/food-4k-1pf6px6ryqfjtnyr.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: center;
    color: white;
}


.hero button {
    background-color: red;
    color: white;
    padding: 6px 12px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.hero button:hover {
    background-color: brown;
}

.video-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
    background-color: black;
    /* background-image: linear-gradient(black,#3d3c38); */
}

.video-text {
    flex: 1;
    color: white;
}

.video-box {
    flex: 1;
}

.video-box video {
    border-radius: 30px;
}

.about{
    text-align: center;
    background-color: (247,217,217);
    padding: 20px 20px;
}

.about h2{
    font-size: 20px;
    border-bottom: 1px solid black;
    font-family: cursive;
    font-weight: bold;
    color: rgb(39, 30, 30);
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    max-width: 700px;
    line-height: 2;
    margin: auto;
}

.card{
    border-radius: 15px;
    box-shadow: 0 8px 16px black;
    text-align: center;
    padding: 20px;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.menu-conatiner {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px; 
    padding: 20px;
}

header {
    position: sticky;
    top: 0;
}

.category-icons {
    display: flex;
    justify-content:center ;
    overflow: auto;
    margin-top: 30px;
}

.icon-box {
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}

.icon-box img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 4px;
}

.icon-box img:hover {
    transform: scale(1.2 );
}

.section h2 {
    padding: 20px;
    margin-left: 10px;
}

table {
    width: 70px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

thead {
    background: #f80202;
    color: white;
}

th , td {
    padding: 15px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid white;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item img {
    width: 65px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.remove{
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove :hover {
    background: darkred;
}

.grand-total td {
    font-weight: bold;
    font-size: 10px;
}

.grand-total button {
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#000,#1c1c1c);
}

.auth-box{
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.auth-box h2 {
    margin-bottom: 20px;
    color: #000;
}

.auth-box input {
    width: 100% ;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5pc;
    outline:none;
}

.auth-box input:focus {
    border-color: red;
}

.auth-box button{
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.auth-box button:hover{
    background-color: #cc0000;
}

.auth-box p {
    margin-top: 15px;
    font-size: 14px;
}

.auth-box a{
    color: red;
    text-decoration: none;
}

.deals-page {
    padding: 20px;
    background-color: rgb(226, 226, 226);
}

.deal-hero {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

.combo-section {
    padding: 40px;
    /* background: #fff; */
}
.combo-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.combo-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.combo-card img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

.combo-card h4 {
    margin: 10px 0;
}

.combo-card h4 span {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.combo-card button {
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.combo-card button:hover {
    transform: translate(-8px);
}

.deals-section {
    padding: 40px;
}

.deals-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.deal-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.deal-card h3{
    margin-bottom: 10px;
}

.deal-card span {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px ;
    background: black;
    color: white;
    border-radius: 5px;
}

.deal-card:hover {
    transform: translate(-8px);
}

.deal-card h3{
    margin-bottom: 10px;
}

.deal-card span {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
}

.deal-card:hover {
    transform: translate(-8px);
}

.red { border-top: 5px solid red;}